option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: fruit_sales_management_system.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: fruit_sales_management_system.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
container_commands:
  00collectstatic:
    command: "/var/app/venv/*/bin/python manage.py collectstatic --noinput"
  01migrate:
    command: "/var/app/venv/*/bin/python manage.py migrate"
    leader_only: true
  02loadseeddata:
    command: "/var/app/venv/*/bin/python manage.py loadseeddata"
    leader_only: true
