{% extends 'core/layout.html' %}
{% block content %}
    <h1>販売情報管理</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'core:top' %}">管理 TOP</a></li>
            <li class="breadcrumb-item active" aria-current="page">販売情報管理</li>
        </ol>
    </nav>
    <table class="table table-hover">
        <thead class="thead-light">
        <tr class="row">
            <th class="col-3">果物</th>
            <th class="col-2">個数</th>
            <th class="col-3">売上</th>
            <th class="col-2">販売日時</th>
            <th class="col-1"></th>
            <th class="col-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for sale in sale_list %}
            <tr class="row">
                <td class="col-3">{{ sale.fruit.name }}</td>
                <td class="col-2">{{ sale.number }}</td>
                <td class="col-3">{{ sale.amount }}</td>
                <td class="col-2">{{ sale.sold_at|date:"Y/m/d H:i" }}</td>
                <td class="col-1">
                    <a class="btn btn-success" href="{% url 'sales:edit' sale.id %}">編集</a>
                </td>
                <td class="col-1">
                    <form action="{% url 'sales:delete' sale.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">削除</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">前へ</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">前へ</span></li>
            {% endif %}
            　 {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">次へ</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">次へ</span></li>
        {% endif %}
        </ul>
    </nav>
    <a class="btn btn-primary" href="{% url 'sales:new' %}">登録</a>
    <form action="{% url 'sales:top' %}" method="post" class="form-horizontal text-right" enctype="multipart/form-data">
        <h2>CSV 一括登録</h2>
        {% csrf_token %}
        <div class="form-group">
            <div>{{ form.file }}</div>
            <div>
                <button type="submit" class="btn btn-primary">CSV アップロード</button>
            </div>
            <span>*文字コード指定:UTF-8</span>
        </div>
    </form>
{% endblock %}
