{% extends 'core/layout.html' %}
{% load static %}
{% block content %}
    <h1>果物マスタ管理</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'core:top' %}">管理 TOP</a></li>
            <li class="breadcrumb-item active" aria-current="page">果物マスタ管理</li>
        </ol>
    </nav>
    <form action="{% url 'fruits:top' %}" method="get">
        <div class="form-group row">
            <label for="{{ form.name.id_for_label }}" class="col-1 col-form-label">名称</label>
            <div class="col-3">{{ form.name }}</div>
        </div>
        <div class="form-group row">
            <div class="col">
                <button type="submit" class="btn btn-primary">検索</button>
            </div>
        </div>
    </form>
    <form action="{% url 'fruits:delete' %}" method="post">
        {% csrf_token %}
        <table class="table table-hover">
            <thead class="thead-light">
            <tr class="row">
                <th class="col-2">名称</th>
                <th class="col-2">価格</th>
                <th class="col-2">登録日時</th>
                <th class="col-2">更新日時</th>
                <th class="col-1"></th>
                <th class="col-3"></th>
            </tr>
            </thead>
            <tbody>
            {% for fruit in fruit_list %}
                <tr class="row">
                    <td class="col-2">{{ fruit.name }}</td>
                    <td class="col-2">{{ fruit.price }}</td>
                    <td class="col-2">{{ fruit.created_at|date:"Y/m/d H:i" }}</td>
                    <td class="col-2">{{ fruit.updated_at|date:"Y/m/d H:i" }}</td>
                    <td class="col-1"><a class="btn btn-success" href="{% url 'fruits:edit' fruit.id %}">編集</a></td>
                    <td class="col-3">
                        <div class="btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-light">
                                <input type="checkbox" name="option-{{ fruit.id }}" value="delete" autocomplete="off">削除
                            </label>
                            <label class="btn btn-light">
                                <input type="checkbox" name="option-{{ fruit.id }}" value="keep" autocomplete="off">維持
                            </label>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <a class="btn btn-primary" href="{% url 'fruits:new' %}">登録</a>
            <button type="submit" class="btn btn-danger">一括削除</button>
            <button type="reset" class="btn btn-info">クリア</button>
        </div>
    </form>
    <script src="{% static 'fruits/script.js' %}" defer="defer"></script>
{% endblock %}
